/Recursividad/nbproject/private/
/Recursividad/build/
/Prueba Estructuras 1/Prueba1/build/
/Prueba Estructuras 1/Prueba1/nbproject/private/
/Clase04/nbproject/private/
/Semana5/Clases01/build/
/Semana5/Clases01/nbproject/private/
